{% extends 'base.html.twig' %}
{% block body_class %}inner-page{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1>Contactez l’Hôtel Sezz</h1>
    <p>Email : contact@hotelsezz.com</p>
    <p>Téléphone : +33 1 23 45 67 89</p>
    <p>Adresse : 123, Rue de la Plage, Saint-Tropez</p>
</div>
{% endblock %}
