###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de IDEs
.idea/
.vscode/

# Node
node_modules/